@import '../src/assets/styles/_style';

.App-header {
  background-color: $scondary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: $primary;
}

.background-container {
  background-image: url('./assets/icons/starwar_bg1.png');//starwars_bg.jpg
  background-size: cover; 
  background-position: center; 
  // height: 100vh; 
  display: flex;
  justify-content: $align-items; 
  align-items: $align-items; 
  
 
}


.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between; 
}

.ships-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
